/*algemeen*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.artikelSpecifiek {
    width: 60%;
    margin: 0 auto;
}

/*header en navigatie*/

header {
    width: 100%;
    height: 6em;
    background: #ABD7A8;
    position: relative;
}

#logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 15%;
    float: left;
}

.menu {
    width: 20%;
    height: 100%;
    float: right;
    height: 6em;
    position: relative;
}

.menuOpties img {
    margin-left: 1em;
    margin-right: 1em;
    height: 4em;
    float: left;
}

.profielMenu img {
    height: 4em;
}

.profielMenu {
    position: relative;
    height: 100%;
    width: 45%;
    float: left;
}

#menu {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu a {
    color: white;
    text-decoration: none;
    float: left;
}

.menuOpties {
    height: 4em;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -20px;
}


/*zoeken*/

.zoekSectie {
    width: 100%;
    height: 5em;
    background: #edf0f1;
    display: flex;
    align-items: center;
}

.zoeken {
    width: 100%;
    text-align: center;
}

#zoekBar {
    height: 3em;
    width: 30em;
}

#zoekForm input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 22em;
}

#zoekForm button {
    width: 8%;
    padding: 10px;
    background: #ABD7A8;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
}

#zoekForm button:hover {
    background:

        #717171;
}

#zoekForm::after {
    content: "";
    clear: both;
    display: table;
}

/* main content*/

main {
    margin-top: 2em;
    margin-bottom: 2em;
}

/*filter opties*/

.filterOpties {
    margin-left: 1em;
    width: 20%;
    float: left;
}

.filterOpties h2,
h3,
select,
label,
a,
input[type=checkbox] {
    margin-bottom: 1em;
}

.filterOpties a {
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: 0.1s ease;
}

.filterOpties a:hover {
    color: #ABD7A8;
    transform: scale(1.025);
    transform-origin: 0% 100%;
    transition: 0.1s ease;
}

select {
    width: 50%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1em;
    cursor: pointer;
    line-height: 1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

select::-ms-expand {
    display: none;
    outline: none;
}

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.button {
    width: 60%;
    padding: 2% 2%;
    margin: 1em 0;
    font-size: 13pt;
    border: none;
    border-radius: 0;
    color: white;
    background: #ABD7A8;
}

.button:hover {
    background: #717171;
    transition: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
}

/*artikeloverzicht*/

.artikelOverzicht {
    float: left;
    margin-left: 3em;
    width: 70%;
    position: relative;
}

.artikel {
    width: 22%;
    margin-right: 3%;
    text-align: center;
    border: 1px solid #ABD7A8;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    float: left;
}

.artikel img {
    width: 80%;
}

.winkelKarPerArtikelForm {
    width: 100%;
    display: flex;
    margin-top: 1em;
}

#aantalVanArtikel {
    width: 45%;
    margin-right: 10%;
}

.winkelkarArtikelBtn {
    width: 45%;
    border: 1px solid #717171;
    background: #ABD7A8;
}

.winkelkarArtikelBtn:hover {
    background: #717171;
    transition: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
}

.winkelkarArtikelBtn img {
    width: 30px;
    height: 30px;
}

.producten {
    margin-bottom: 2em;
}

/*pagina teller*/

.paginaCounter {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.paginaCounter a {
    text-decoration: none;
    color: #717171;
    transition: 0.2s ease;
    display: inline-block;
    font-size: 1.2em;
}

.paginaCounter a:hover {
    color: #ABD7A8;
    font-weight: bold;
    transform: scale(1.1);
    transform-origin: 0% 100%;
    transition: 0.2s ease;
}

.huidigePagina {
    font-weight: bolder;
}


/*footer*/

footer {
    height: 4em;
    background: #ABD7A8;
    color: white;
    position: sticky;
    top: 100%;

}

footer p {
    padding-top: 1.5em;
    width: 100%;
    text-align: center;
}


/* +++++++++++++++++++++ Artikel specifieke pagina ++++++++++++++++++++++++++++ */

.artikelSpecifiekeOpties {
    float: right;
    width: 40%;
    margin-left: 10%;
}

.artikelHeader {
    width: 40%;
    float: left;
}

.artikelHeader img {
    width: 100%;
}

.artikelSpecifiekeOpties h2,
p,
.winkelKarSpecifiekArtikelform input[type=number],
input[type=button] {
    margin-bottom: 1em;
}

.winkelKarSpecifiekArtikelform .winkelkarArtikelBtn,
#aantalVanArtikel {
    width: 60%;
}

.artikelSpecifiekeOpties #aantalVanArtikel {
    margin-top: 1em;
}

.checked {
    color: orange;
}

.scoreGem {
    font-size: 2em;
    font-weight: bold;
}


/*clear*/

.cf {
    clear: both;
}

/*clearfix hack*/

.clearFix:before,
.clearFix:after {
    content: " ";
    display: table;
}

.clearFix:after {
    clear: both;
}

/* enkel voor IE6/7  */

.clearFix {
    *zoom: 1;
}